.quiz-form {
	height: 100vh;
	padding-top: 120px;
	text-align: center;
	background: rgba(0, 0, 0, 0.25);

	&__title {
		max-width: 705px;
		margin: 0 auto 12px;

		font-size: 40px;
		line-height: 48px;
		text-transform: capitalize;
	}

	&__subtitle {
		margin-bottom: 34px;

		font-weight: 500;
		line-height: 28px;
		color: #7e7c89;
	}

	&__step {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 1103px;
		padding: 55px 76px 70px;

		background-color: #fff;
		border-radius: 20px;
		box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.03), 0px 0px 46px 0px rgba(0, 0, 0, 0.03), 0px 0px 25px 0px rgba(0, 0, 0, 0.02), 0px 20px 13px 0px rgba(0, 0, 0, 0.02),
			0px 8px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 3px 0px rgba(0, 0, 0, 0.01);
		transition: all 0.5s ease-in;

		&-title {
			margin-bottom: 25px;

			font-size: 22px;
			line-height: 32px;
		}

		&--second,
		&--third,
		&--fourth {
			left: 150%;
		}

		&--third {
			.quiz-form__step-title {
				margin-bottom: 40px;
			}
		}

		&.hide {
			left: -150%;
		}

		&.appear {
			left: 50%;
		}
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin-bottom: 50px;

		&-item {
			text-align: left;
		}

		&--checkboxes {
			display: grid;
			grid-template-columns: repeat(4, 1fr);

			.real-checkbox {
				width: 0;
				height: 0;
				opacity: 0;
				position: absolute;
				z-index: -1;
			}
		}
	}

	&__input {
		width: 100%;
		max-width: 460px;
		padding: 10px 20px;
		font-size: 16px;
		line-height: 30px;
		background-color: #f7f7fa;
		border-radius: 8px;
		border: 1px solid transparent;
		font-family: 'Roboto', sans-serif;

		&::placeholder {
			color: #aeadb6;
		}

		&.invalid {
			background-color: #FEF8FA;
			border-color: #f09dbb;

			&::placeholder {
				color: #f09dbb;
			}
		}
	}

	&__checkbox {
		span {
			display: block;
			padding: 17px 20px;

			font-weight: 500;
			line-height: 22px;
			background-color: #f7f7fa;
			border-radius: 10px;
			cursor: pointer;
			transition: all 0.3s;

			&:hover {
				background-color: #1aa581;
				color: #fff;
			}
		}

		.real-checkbox:checked + span {
			background-color: #1aa581;
			color: #fff;
		}
	}

	&__btn {
		padding: 17px 45px;

		font-weight: 700;
		font-size: 16px;
		line-height: 26px;
		color: #fff;
		background-color: #1aa581;
		border: none;
		border-radius: 1000px;
		text-transform: capitalize;
		transform: scale(1);
		cursor: pointer;
		box-shadow: 0px 67px 80px 0px rgba(26, 165, 129, 0.07), 0px 43px 46px 0px rgba(26, 165, 129, 0.05), 0px 25px 25px 0px rgba(26, 165, 129, 0.04), 0px 13px 13px 0px rgba(26, 165, 129, 0.03),
			0px 5px 6px 0px rgba(26, 165, 129, 0.03), 0px 1px 3px 0px rgba(26, 165, 129, 0.02);
		transition: all 0.3s;

		&:hover {
			transform: scale(1.1);
			box-shadow: 0px 77px 80px 0px rgba(26, 165, 129, 0.07), 0px 53px 46px 0px rgba(26, 165, 129, 0.05), 0px 35px 25px 0px rgba(26, 165, 129, 0.04), 0px 23px 13px 0px rgba(26, 165, 129, 0.03),
				0px 15px 6px 0px rgba(26, 165, 129, 0.03), 0px 11px 3px 0px rgba(26, 165, 129, 0.02);
		}
	}

	@media (max-width: 768px) {
	}
}
